.clearfix::after{
    content:'';
    display:block;
    clear:both;
}
body{
    background-color:gray;
    margin:0;
    color:white;
}
a{
    color:inherit;
    text-decoration: none;
}
.topNavBar{
    padding: 20px 16px;
}
.topNavBar .logo{
    float: left;
    font-size:24px;
    font-family:"Arial Black";
    padding:3px 0 4px 0;
}
.topNavBar .logo .rs{
    color:#E6686A;
    margin-right:4px;
}
.topNavBar .logo .card{
    color:#9A9DA2;
}
.topNavBar >nav{
    float: right;
    padding:4px 0;
}
.topNavBar >nav >ul {
    list-style:none;
    margin:0;
    padding:0;
}
.topNavBar >nav >ul >li{
    float:left;
    margin: 0 17px;
}
.topNavBar >nav >ul >li >a{
    font-size:12px;
    color:#B7B7B7;
    font-weight:bold;
    border-top:3px solid transparent;
    border-bottom:3px solid transparent;
    padding:5px 0;
    display: block;
}
.topNavBar >nav >ul >li >a:hover{
    border-bottom:3px solid #DC6465;
}